@for $i from 1 through 6 {
    $step: $i * 5;
    .mt-#{$step} { margin-top: $step + px;}
    .mb-#{$step} { margin-bottom: $step + px;}
    .ml-#{$step} { margin-left: $step + px;}
    .mr-#{$step} { margin-right: $step + px;}
    .mv-#{$step} { margin-top: $step + px 0;}
    .mh-#{$step} { margin-top: 0 $step + px;}
    .m-#{$step} { margin: $step + px;}
    .pt-#{$step} { padding-top: $step + px;}
    .pb-#{$step} { padding-bottom: $step + px;}
    .pl-#{$step} { padding-left: $step + px;}
    .pr-#{$step} { padding-right: $step + px;}
    .pv-#{$step} { padding-top: $step + px 0;}
    .ph-#{$step} { padding-top: 0 $step + px;}
    .p-#{$step} { padding: $step + px;}
}