// 主要色值
$primary-color: #2196f3;
$info-color: #1890ff;
$success-color: #52a41c;
$warning-color: #faad14;
$error-color: #ff4d4f;
// 字体色值
$font-default-color: rgba(0, 0, 0, .65);

// navbar
$navbar-background: #ffffff;
$navbar-height: 48px;
$navbar-line_height: 48px;
$navbar-box_shadow: 0 1px 2px rgba(220, 220, 220, 0.45);

// 按钮色值
$btn-default-color: rgba(0,0,0,.65);
$btn-default-placeholder__color: #d9d9d9;
$btn-default-border__color: #d9d9d9;
$btn-primary-color: #2196f3;
$btn-primary-border__color: #1890ff;
