// 主要色值
$primary-color: #2196f3;
$info-color: #1890ff;
$success-color: #52a41c;
$warning-color: #faad14;
$error-color: #ff4d4f;
// 字体色值
$font-default-color: rgba(0, 0, 0, .65);
// 按钮色值
$btn-default-color: rgba(0,0,0,.65);
$btn-default-placeholder__color: #d9d9d9;
$btn-default-border__color: #d9d9d9;
$btn-primary-color: #2196f3;
$btn-primary-border__color: #1890ff;
