@import '@/public/style/theme.scss';
.hp-menu {
    .hp-menuitem {
        line-height: 46px;
        border-bottom: 1px solid #fafafa;
        &_content {
            padding: 0 10px 0 20px;
            transition: all .3s;
            display: flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
            > .hp-icn {
                margin-right: 10px;
            }
            .hp-menuitem_label {
                flex: 1;
                text-decoration: none;
                color: $font-default-color;
                position: relative;
            }
            &.hp-menuitem-title {
                .hp-menuitem_label {
                    &:before, &:after {
                        position: absolute;
                        top: 18px;
                        content: '';
                        width: 6px;
                        height: 2px;
                        background: $font-default-color;
                        display: inline-block;
                        position: absolute;
                    }
                    &:after {
                        right: 10px;
                        top: 22px;
                        transform: rotate(-45deg);
                        transition: transform .3s;
                    }
                    &:before {
                        right: 14px;
                        top: 22px;
                        transform: rotate(-135deg);
                        transition: transform .3s;
                    }
                }
            }
            &.hp-menuitem-active {
                background: $menu-menuitem_bg-active;
                position: relative;
                > a {
                    color: $menu-menuitem_color-active;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    height: 100%;
                    width: 4px;
                    display: inline-block;
                    background: $menu-menuitem_color-active;
                    animation: myans ease .3s;
                    @keyframes myans {
                        0% {
                            top: 50%;
                            height: 0%;
                        }
                        100% {
                            top: 0;
                            height: 100%;
                        }
                    }
                }
            }
            &.hp-menuitem-title_collapsed {
                & + .hp-menu.hp-menu-sub {
                    display: none;
                }
            }
            &.hp-menuitem-active > .hp-menuitem-title, &.hp-menuitem-title_collapsable {
                background: #ffffff;
                border-right: 0;
                .hp-menuitem_label {
                    color: $menu-menuitem_color-active;
                    &:before, &:after {
                        background: $menu-menuitem_color-active;
                    }
                    &:after {
                        transform: rotate(45deg);
                        transition: transform .3s;
                    }
                    &:before {
                        transform: rotate(-225deg);
                        transition: transform .3s;
                    }
                }
            }
            &:hover {
                padding-left: 30px;
                color: $primary-color;
            }
        }
        .hp-menu.hp-menu-sub {
            padding: 0;
            margin: 0;
            .hp-menuitem {
                &_content {
                    padding-left: 40px;
                    &:hover {
                        padding-left: 50px;
                    }
                }
                border-bottom: 0;
            }
        }
    }
} 