@import '@/public/style/utils.scss';
@import '@/public/style/theme.scss';
.hp-textbox {
    height: px2rem(32);
    min-width: px2rem(220);
    outline: none;
    border: 1px solid;
    border-color: $btn-default-border__color;
    border-radius: px2rem(4);
    box-sizing: border-box;
    padding: px2rem(4) px2rem(11);
    font-size: px2rem(14);
    line-height: 1.5;
    color: $btn-default-color;
    transition: all .3s;
    background: #ffffff;
    &::-webkit-input-placeholder {
        color: $btn-default-placeholder__color;
    }
    &:hover {
        border-color: $btn-primary-border__color;
    }
    &:focus {
        border-color: $btn-primary-border__color;
        box-shadow: 0 0 4px $btn-primary-color;
    }
}