.home {
    &-container {
        position: absolute;
        width: 100%;
        height: calc(100% - 48px);
        overflow: hidden;
        display: flex;
        .home-wrapper {
            flex: 1;
        }
    }
}